blacksmith = {
    production = tools
    process = [
        if food >= 1 and metal >= 1 and tools <= 3 then
           convert all metal to tools
        end if
        consume 1 food
    ]
}

farmer = {
    production = food
    process = [
        if food <= 9 then
           if wood >= 1 and work >= 1 then
              if tools >= 1 then
                  consume 1 wood
                  consume 1 tools 10%
                  consume 1 work
                  produce 6 food
               else
                  consume 1 wood
                  consume 1 work
                  produce 3 food
            else
               produce 1 food
    ]
}